.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
out/**
src/**
test/**
node_modules/**
.gitignore
.github/**
tsconfig.json
webpack.config.js
content/*.gif
content/sample.png
jasmine.*.json
tslint.json
.travis.yml
*.vsix
**/*.ts
**/*.map
.eslintrc.json
